/** Horizontal Logo Custom CSS */
.layout-horizontal .header-top .logo img {
    height: 50px
}

.layout-horizontal .main-navbar {
    padding: 1rem 1rem 0.8rem 1rem;
}

.layout-horizontal .main-navbar .menu-item.active .menu-link {
    font-weight: 900;
    color: white !important;
    padding: 0.4rem 0.6rem 0.4rem 0.4rem;
    border-bottom: .2rem solid;
}

.container {
    max-width: 95vw !important;
}

/** SLIM Select Field */
.ss-main .ss-single-selected {
    height: 39px !important;
    border-radius: 0.25rem !important;
    font-size: .875rem;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    border: 1px solid #dce7f1 !important;
}

.ss-main .ss-multi-selected {
    padding: 0.35rem 1rem 0.35rem 1rem !important;
    border-radius: 0.25rem !important;
    font-size: .875rem;
    border: 1px solid #dce7f1 !important;
}

.ss-main .ss-value {
    padding: 4px 14px !important;
    margin: 0 !important;
    margin-right: 6px !important;
}

.ss-main .ss-content .ss-list {
    font-size: .875rem;
}

.ss-main .ss-content .ss-search input {
    font-size: .875rem !important;
}

.ss-main .ss-main .ss-single-selected .ss-deselect {
    margin: 0 10px !important;
}

.is-invalid .ss-main .ss-main .ss-single-selected,
.is-invalid .ss-main .ss-main .ss-multi-selected {
    border-color: #e11d48;
}

.ss-main .ss-content .ss-list .ss-optgroup .ss-option {
    padding: 6px 10px;
}

.ss-main .ss-content .deselect-option {
    color: #f16666;
}

.ss-main .ss-content .ss-list .ss-option.ss-disabled {
    color: #bfb9b9;
}

.ss-main .placeholder {
    background: #fff !important;
}
.ss-main .ss-single-selected .placeholder .ss-disabled {
    color: #5e5e5e;
}

/** SLIM Select Ends */

.btn-fab {
    width: 3.2em;
    height: 3.2em;
    position: absolute;
    right: 26px;
    top: -32px;
    border-radius: 50%;
}

.btn-fab i {
    font-size: 1em;
    text-align: center;
}

.sidebar-wrapper .logo {
    height: 6.2rem;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.div-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    cursor: progress;
}

.nav-tabs-ul {
    margin-bottom: 2em;
    position: relative;
}

.nav-tabs-ul .nav-link {
    cursor: pointer;
}

.nav-tabs-ul .nav-link.active {
    cursor: inherit;
    background: #e6ebf5;
}

/** Tab load styles */
.loading-skeleton h1,
.loading-skeleton h2,
.loading-skeleton h3,
.loading-skeleton h4,
.loading-skeleton h5,
.loading-skeleton h6,
.loading-skeleton p,
.loading-skeleton li,
.loading-skeleton .btn,
.loading-skeleton label,
.loading-skeleton table,
.loading-skeleton span,
.loading-skeleton a,
.loading-skeleton .form-select,
.loading-skeleton td,
.loading-skeleton .form-control,
.loading-skeleton i {
    color: transparent !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    background-color: #eee;
    border-color: #eee;
}

.loading-skeleton h1::placeholder,
.loading-skeleton h2::placeholder,
.loading-skeleton h3::placeholder,
.loading-skeleton h4::placeholder,
.loading-skeleton h5::placeholder,
.loading-skeleton h6::placeholder,
.loading-skeleton p::placeholder,
.loading-skeleton li::placeholder,
.loading-skeleton .btn::placeholder,
.loading-skeleton label::placeholder,
.loading-skeleton .form-control::placeholder {
    color: transparent;
}

@keyframes loading-skeleton {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.loading-skeleton {
    pointer-events: none;
    animation: loading-skeleton 1s infinite alternate;
}

.loading-skeleton img {
    filter: grayscale(100) contrast(0%) brightness(1.8);
}

/** Tab load styles ends */

.permission-accordion label {
    color: #333;
}

/** Account view */
.account-logo-wrapper .logo-container {
    width: 250px;
    /* Set the desired width */
    height: auto;
    /* Height will adjust based on aspect ratio */
    max-width: 100%;
    /* Ensure the logo doesn't exceed its parent container */
    padding: 10px;
    /* Optional: Add some padding around the logo */
    margin: 10px;
}

.account-logo-wrapper .logo {
    width: 100%;
    /* Ensure the logo fills its container */
    height: auto;
    /* Height will adjust based on aspect ratio */
}

.loading-skeleton h1,
.loading-skeleton h2,
.loading-skeleton h3,
.loading-skeleton h4,
.loading-skeleton h5,
.loading-skeleton h6,
.loading-skeleton p,
.loading-skeleton li,
.loading-skeleton .btn,
.loading-skeleton label,
.loading-skeleton table,
.loading-skeleton span,
.loading-skeleton a,
.loading-skeleton .form-select,
.loading-skeleton td,
.loading-skeleton .form-control,
.loading-skeleton i {
    color: transparent !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    background-color: #eee;
    border-color: #eee;
}

.loading-skeleton h1::placeholder,
.loading-skeleton h2::placeholder,
.loading-skeleton h3::placeholder,
.loading-skeleton h4::placeholder,
.loading-skeleton h5::placeholder,
.loading-skeleton h6::placeholder,
.loading-skeleton p::placeholder,
.loading-skeleton li::placeholder,
.loading-skeleton .btn::placeholder,
.loading-skeleton label::placeholder,
.loading-skeleton .form-control::placeholder {
    color: transparent;
}

@keyframes loading-skeleton {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.loading-skeleton {
    pointer-events: none;
    animation: loading-skeleton 1s infinite alternate;
}

.loading-skeleton img {
    filter: grayscale(100) contrast(0%) brightness(1.8);
}

/** SLIM Select Field */
.ss-main .ss-single-selected {
    height: 39px !important;
    border-radius: 0.25rem !important;
    font-size: .875rem;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
}

.ss-main .ss-multi-selected {
    padding: 0.35rem 1rem 0.35rem 1rem !important;
    border-radius: 0.25rem !important;
    font-size: .875rem;
}

.ss-main .ss-value {
    padding: 4px 14px !important;
    margin: 0 !important;
    margin-right: 6px !important;
}

.ss-main .ss-content .ss-list {
    font-size: .875rem;
}

.ss-main .ss-content .ss-search input {
    font-size: .875rem !important;
}

.ss-main .ss-main .ss-single-selected .ss-deselect {
    margin: 0 10px !important;
}

.is-invalid .ss-main .ss-main .ss-single-selected,
.is-invalid .ss-main .ss-main .ss-multi-selected {
    border-color: #e11d48;
}

.ss-main .ss-content .ss-list .ss-optgroup .ss-option {
    padding: 6px 10px;
}

.ss-main .ss-content .deselect-option {
    color: #f16666;
}

.ss-main .ss-content .ss-list .ss-option.ss-disabled {
    color: #bfb9b9;
}

.ss-main .ss-single-selected .placeholder {
    cursor: inherit;
}

/** SLIM Select Ends */


/** Checkout page */
.checkout-outer-div {
    background: #f1f1f1;
}

.checkout-outer-div .search-btn {
    width: 200px;
}

.checkout-outer-div .accordion {
    --bs-accordion-color: var(--bs-body-color);
}

.checkout-outer-div .accordion .accordion-item:first-child {
    margin-top: 0;
}

.checkout-outer-div .accordion .accordion-item {
    margin-top: 1em;
    background: #fff;
}

.checkout-outer-div .accordion-button {
    padding: 1.4em;
}

.checkout-outer-div .accordion-button.collapsed:disabled {
    opacity: .6;
}

.checkout-outer-div .accordion-button .title-span {
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 1.2em;
    width: 20%;
}

.checkout-outer-div .accordion-button .title-span i {
    margin-right: 0.2em;
}

.checkout-outer-div .accordion-button .brief-info {
    font-weight: 100;
    width: 73%;
    display: none;
}

.checkout-outer-div .accordion-button.collapsed .brief-info {
    display: block;
}

.checkout-outer-div .accordion-body .table {
    line-height: 4em;
}

.checkout-outer-div .accordion-body .quantity-div {
    width: 250px;
    line-height: 30px;
}
.checkout-outer-div .price-update-span {
    border-bottom: 1px dashed #333;
    cursor: pointer;
}

.w-10 {
    width: 10%;
}

.add-cart-btn {
    width: 180px;
}

.prod-loading-cart {
    position: absolute;
    top: 34%;
    z-index: 10;
    background: #a1a1a1;
    padding: 1em 2em;
    left: 42%;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
}

.customer-outer-div .customer-ind-div {
    width: 31%;
    display: inline-block;
    padding: 12px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    margin: 0 .5%;
    text-align: left;
    margin-bottom: 12px;
    position: relative;
    height: 250px;
    overflow: auto;
}

.customer-outer-div .customer-ind-div label {
    font-weight: 800;
    margin-bottom: 4px;
}

.customer-outer-div .customer-ind-div .selected-label {
    position: absolute;
    top: 6px;
    right: 8px;
    color: var(--bs-green);
    display: none;
}

.customer-outer-div .customer-ind-div.selected {
    border: 3px solid var(--bs-blue);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.customer-outer-div .customer-ind-div.selected .selected-label {
    display: block;
}

.payment-outer-div {
    font-size: 1.1em;
}

.payment-outer-div .price-value-div {
    font-weight: 700;
}

.payment-outer-div .view-breakup {
    font-size: initial;
    text-decoration: underline;
}


.payment-outer-div .method-selection div {
    width: 24%;
}

.item-selection-div div {
    display: inline-block;
    text-align: center;
    border: 2px solid #f1f1f1;
    padding: 8px 26px;
    margin-right: 6px;
    cursor: pointer;
    margin-bottom: 8px;
}

.item-selection-div .active {
    border-color: rgb(67 94 190);
    box-shadow: -1px 5px 13px 2px rgba(51, 73, 156, 0.66);
    -webkit-box-shadow: -1px 5px 13px 2px rgba(51, 73, 156, 0.66);
    -moz-box-shadow: -1px 5px 13px 2px rgba(51, 73, 156, 0.66);
    color: #435ebe;
}

.item-selection-div .disabled {
    opacity: .5;
    cursor: not-allowed;
}

.item-selection-div .error-alert {
    display: block;
    color: var(--bs-danger);
    font-size: .8em;
}

.order-response-div {
    background: #fff;
    padding: 15px 15px;
    text-align: center;
}

.order-response-div .title-div h2 {
    color: var(--bs-success);
}

.order-response-div .title-div .bi {
    font-size: 1.2em;
}

.product-search-modal #table-bulkActionsDropdown,
.product-search-modal .filter-down-div,
.product-search-modal .table-filter-div {
    display: none !important;
}

.input-loading {
    position: absolute;
    top: 0.75em;
    right: 1em;
    background: #fff;
}

/** Activity Log */
.activity-log {
    font-size: 14px;
}

.activity-log .timestamp-div {
    font-size: 13px;
    float: right;
}

.activity-log .activity-change-info {
    font-size: 13px;
    border-left: 2px solid #e3e3e3;
}

.activity-log .activity-change-info label {
    font-weight: 500;
}

.activity-log .activity-change-info .desc {
    font-weight: 300;
}

.bg-light-dark {
    background-color: #e3e3e3;
    color: #171717;
}

.text-dark {
    color: #212529 !important;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.btn-group-sm>.btn {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .875rem;
    --bs-btn-border-radius: .2rem
}
.text-link {
    cursor: pointer;
}
.checkout-outer-div .multi-units {
    border-bottom: 1px dashed #333;
    cursor: pointer;
}
.checkout-outer-div .warehouse-selected-list-div {
    display: inline-flex;
    text-align: left;
    padding-left: 4px;
    min-width: 120px;
}
.layout-horizontal .main-navbar .submenu .submenu-group .submenu-item a{
    padding: .6rem 1rem .6rem .6rem !important;
}

/* Custom checkbox  */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 26px;
    background-color: #eee;
    border: 0.5px solid #a5a5a5;
    z-index: 1;
    border-radius: 4px;
}
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkbox-container input:disabled ~ .checkmark {
    border-color: #eee;
    cursor: not-allowed;
    background: #eee;
}
.checkbox-container input:checked ~ .checkmark {
    background-color: var(--bs-blue);
    border: 0.5px solid var(--bs-blue);
}
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.csv-table-col .csv-table-wrap{
    max-height: 300px;
}
.warranty-tab{
    min-height: 600px;
    margin-top:23px;
}
.warranty-import .alert a {
    color: #435ebe;
    text-decoration: underline !important;
}
.warranty-import .alert-success {
    color: #000 !important;
}
.dropdown-tab .btn-icon {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
}
.table-action .dropdown-tab {
    position: relative;
}
.table-action .dropdown-tab .btn-icon:hover,
.table-action .dropdown-tab .btn-icon:focus {
    background: none;
    box-shadow: none;
}

.dropdown-tab .popup-content {
    background-color: #f2f7ff;
    border: 1px solid #ced4da;
}

.table-action .dropdown-tab .popup {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    width: 220px;
    min-width: 200px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-top: 5px;
}

.table-action .dropdown-tab .popup .popup-content {
    display: flex;
    flex-direction: column;
}

.table-action .dropdown-tab .popup .popup-content .popup-item {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s;
  }

.table-action .dropdown-tab .popup-content .popup-item {
    color: #212529; /* Text color */
}

.table-action .dropdown-tab .popup-content .popup-item:hover,
.table-action .dropdown-tab .popup-content .popup-item:focus {
    background-color: #e9ecef;
}
